#card {
    align-content: center;
    text-align: center;
    width: 200px;
    padding: 10px;
  }
  #img {
    height: 100px;
    width: 100px;
  }
  #switchrow{
    display:inline-flex;
  }
  #sun{
    height:34px;
    padding:0px 9px;
  }
  #moon{
    height:34px;
    padding:0px 0px 0px 10px;
  }
  #title{
    font-family: 'Rubik', sans-serif;
    color: #A0F6FF;
  }
  a {
    text-decoration: none;
  }
  body {
    text-align: center;
    background: #282828;
    color: #A0F6FF;
  }
  #links {
    display: inline-flex;
    flex-direction: row;
  }
  
  .club:hover{
    background:url(club.gif);
  }
  
  #heading1{
    font-family: 'Rubik', sans-serif;
  }
  
  #heading3{
    font-family: 'Rubik', sans-serif;
  }