body {
    background-color: #282828;
    font: 20px comicsans; 
    color: rgb(19, 225, 252);
    text-align: center;
    padding: 35px;
}

#chatbox {
    font-size: 20px;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#000;
    height:270px;
    width:430px;
    color: rgb(0,247,255);
    border:12px solid rgb(25, 136, 184);
    overflow:auto;
}

.fontsHere{
    font-size: 24px;
    font-family: "Verdana Header";
}

#username1{
    font-family: "Verdana";
    font-size: 12px;
}

#username{
    font-family: "Verdana";
    font-size: 12px;
}
.submitmsg {
    background-color: black;
    color: rgb(0, 247, 255);
}
input {
    background-color: black;
    border:3px solid rgb(25, 136, 184);
    color: rgb(0, 247, 255);
}
button {
    background-color: black;
    border:3px solid rgb(25, 136, 184);
    color: rgb(0, 247, 255);   
}
p {
    font-size: 16;
}